<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945651551139-9hc0ou4md7jt09ote1u6e9vlb1enkqgn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945651551139-9hc0ou4md7jt09ote1u6e9vlb1enkqgn</string>
	<key>API_KEY</key>
	<string>AIzaSyBijjrsJYfrdfafdojLvJy7c3F8A5IZTUE</string>
	<key>GCM_SENDER_ID</key>
	<string>945651551139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ProjectStarry.KAPong</string>
	<key>PROJECT_ID</key>
	<string>ka-pong-87313998</string>
	<key>STORAGE_BUCKET</key>
	<string>ka-pong-87313998.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945651551139:ios:1561646a09a31550606816</string>
	<key>DATABASE_URL</key>
	<string>https://ka-pong-87313998.firebaseio.com</string>
</dict>
</plist>